/*
 * Foundation's Callouts
 */

.callout {
  &.extra-large {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  &.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &:before {
      background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.7));
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    & > * {
      z-index: 1;
      position: relative;
    }
  }
}