/*
 * Overrides
 */

// Remove the focus element
*, *:focus {
  outline: none !important; 
}

// Increase default y-padding
.grid-padding-y {
  > .cell {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @include breakpoint(medium) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

  }
}