/*
 * Extra utilities
 */

// Borders
.border-top { border-top: 1px solid $medium-gray; }
.border-bottom { border-bottom: 1px solid $medium-gray; }
.border-left { border-left: 1px solid $medium-gray; }
.border-right { border-right: 1px solid $medium-gray; }

// Standard Box Shadow
.box-shadow {
  box-shadow: $card-shadow;
}

// Overflow
.overflow-hidden {
  overflow: hidden;
}

// Background Colors
.background-color-lightgray { background-color: $light-gray }
.background-color-mediumgray { background-color: $medium-gray }
.background-color-primary { background-color: $primary-color }
.background-color-secondary { background-color: $secondary-color }
